
@tailwind base;
@tailwind components;
@tailwind utilities;
/* bg = background */
/* main bg*/
.main-bg1 {
  background: hsl(222, 26%, 31%);
}
.main-bg2 {
  background: hsl(0, 0%, 90%);
}
.main-bg3 {
  background: hsl(268, 75%, 9%);
}

/* key bg */
.t-bg1 {
  background: hsl(223, 31%, 20%);
}
.t-bg2 {
  background: hsl(0, 5%, 81%);
}
.t-bg3 {
  background: hsl(268, 71%, 12%);
}

/* screen bg */
.s-bg1 {
  background: hsl(224, 36%, 15%);
}
.s-bg2 {
  background: hsl(0, 0%, 93%);
}
.s-bg3 {
  background: hsl(268, 71%, 12%);
}

/*  Reset and Del Button */
.r-btn1{
  background: hsl(225, 21%, 49%);
  box-shadow: hsl(223, 78%, 100%);
  color: hsl(0, 0, 100%);
}
.r-btn2 {
  background: hsl(185, 42%, 37%);
  box-shadow: hsl(185, 58%, 25%);
  color: hsl(0, 0, 100%);
}
.r-btn3 {
  background: hsl(281, 89%, 26%);
  box-shadow: hsl(285, 91%, 102%);
  color: #ffffff;
}
.p-btn1 {
  background: hsl(225, 21%, 49%);
  box-shadow: 0px 5px hsl(225, 21%, 49%);
  color: hsl(0, 0, 100%);
}
.p-btn2 {
  background: hsl(45, 7%, 89%);
  box-shadow: 0px 5px hsl(35, 11%, 61%);
  color: hsl(60, 10%, 19%);
}
.p-btn3 {
  background: hsl(281, 89%, 26%);
  box-shadow: 0px 5px hsl(290, 70%, 36%);
  color: white;
}
.p-btn31 {
  background: hsl(281, 89%, 26%);
  box-shadow: 0px 5px hsl(290, 70%, 36%);
  color: white;
  border-radius: 2em;
}
/* Equals Button*/
.e-btn1 {
  background: hsl(6, 63%, 50%);
  box-shadow: hsl(6, 70%, 34%);
  color: hsl(0, 0, 100%);
}
.e-btn2 {
  background: hsl(25, 98%, 40%);
  box-shadow: hsl(25, 99%, 27%);
  color: hsl(0, 0, 100%);
}
.e-btn3 {
  background: hsl(176, 100%, 44%);
  box-shadow: hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}

/*Number  */
.n-btn1 {
  background: hsl(30, 25%, 89%);
  box-shadow: 0px 5px hsl(28, 16%, 65%);
  color: hsl(221, 14%, 31%);
}
.n-btn2 {
  background: hsl(45, 7%, 89%);
  box-shadow: 0px 5px hsl(35, 11%, 61%);
  color: hsl(60, 10%, 19%);
}
.n-btn3 {
  background: hsl(268, 47%, 21%);
  box-shadow: 0px 5px hsl(290, 70%, 36%);
  color: hsl(52, 100%, 62%);
}

/* Toggle Button */
.t-btn1 {
  background: hsl(6, 63%, 50%);
}
.t-btn2 {
  background: hsl(25, 98%, 40%);
}
.t-btn3 {
  background: hsl(176, 100%, 44%);
}

/* input, disply color */
.d-color1 {
  color: hsl(0, 0, 100%);
  outline: none;
  border: 0;
}
.d-color2 {
  color: hsl(60, 10%, 19%);
  outline: none;
  border: 0;
}
.d-color3 {
  color: hsl(52, 100%, 62%);
  outline: none;
  border: 0;
}
